* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
} 

header{
    display: flex;
    justify-content: center;
} 

header a{
    text-decoration:none;
    color:black;
}

main> div{
    display: inline-block;
    width: 45%;
}